[Desktop Entry]
Name = vtomic installer
Comment = select your vtomic image
Exec = kitty -- /usr/local/bin/vtomic-installer.nu
Type = Application
Terminal = false
Categories = System;
