[Unit]
Description = reset container policy
After = local-fs.target

[Service]
Type = oneshot
ExecStart = /var/usrlocal/bin/reset-container-policy.nu
RemainAfterExit = yes

[Install]
WantedBy = multi-user.target
