[Unit]
Description = set default hostname
After = local-fs.target

[Service]
Type = oneshot
ExecStart = /var/usrlocal/bin/set-default-hostname.nu
RemainAfterExit = yes

[Install]
WantedBy = multi-user.target
